<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>vue_07_0</title>

<style type="text/css">
	#list {width:400px; border:1px solid black; border-collapse:collapse;}
	#list td, #list th {border:1px solid black; text-align:center;}
	#list > thead > tr {color:yellow; background-color:purple;}
</style>

</head>
<script type="text/javascript" src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
<body>
<!-- 
	v-for 
-->
<div id="example">
<table id="list">
<thead>
<tr>
<th>번호</th><th>이름</th><th>전화번호</th><th>주소</th>
</tr>
</thead>
<tbody id="contacts">
	<!-- 
	<tr v-for="contact in contacts">
		<td>{{contact.no}}</td>
		<td>{{contact.name}}</td>
		<td>{{contact.tel}}</td>
		<td>{{contact.address}}</td>
	</tr>	
	-->	 
	<tr v-for="(contact, i in contacts">
		<td>{{i+1}}</td>
		<td>{{contact.name}}</td>
		<td>{{contact.tel}}</td>
		<td>{{contact.address}}</td>
	</tr>	
</tbody>
</table>
</div>
<script>	
	var model = {
		"pageno": 1,
		"pagesize": 10,
		"totalcount": 100,
		"contacts": [
			{"no":100, "name":"설현", "tel":"010-2345-8765", "address":"서울"},
			{"no":99, "name":"혜리", "tel":"010-2345-8764", "address":"서울"},
			{"no":98, "name":"하니", "tel":"010-2345-8763", "address":"경기"},
			{"no":97, "name":"성소", "tel":"010-2345-8762", "address":"제주"},
		]
	}
	
	var list = new Vue({
		el: "#example",
		data: model
	});
</script>
</body>
</html>