table { margin-left:200px; border-collapse:collapse; border-spacing:0; width:70%; border-top:1px solid #000; margin-bottom:30px;}
table {border-top:1px solid #000; margin-bottom:30px;}
table tr {border-bottom:1px solid #cccccc; height:48px;}
table tr.def {height:118px;} 
table th { background:#f2f2f2; text-align:left;  text-indent:20px; font-size:14px; color:#000;}
table td { padding-left:22px; font-size:12px; color::#706e6f;}
input[type="button"] { padding:9px 15px 10px 15px; background:#272628; font-size:12px; color:#fff;}
 
 button{ padding:9px 15px 10px 15px; background:#561f1c; font-size:12px; color:#fff;}
/*로그인*/
.sub_con {  position:relative; margin:0 auto; width:1200px; }
.login_con01 { margin-top:80px; border:1px solid #ccc;}
.login_con01 { padding:40px 0; border-top:1px solid #000;}
.login_con01 .login { position:relative; float:left; padding:65px 95px; width:427px; height:171px; border-right:1px solid #ccc;}
.login_con01 .login h4 {  padding-bottom:15px; color:#303030; font-size:20px;}
.login_con01 .login ul { padding-left:23px;}
.login_con01 .login ul li input[type="text"] { margin-top:5px; width:297px; height:25px; border:1px solid #ccc; color:#666;}
.login_con01 .login ul li input[type="password"] { margin-top:5px; width:297px; height:25px; border:1px solid #ccc; color:#666;}
.login_con01 .login ul li button[type="button"]{ display:inline-block; position:absolute; right:107px; top:107px; padding:0 20px; background:#512d06; color:#FFF; font-size:13px; line-height:65px;}
.login_con01 .login div { padding:30px 0 0 23px;}
.login_con01 .login div span { padding:0 20px 0 30px;}
.login_con01 .login div span + a { display:inline-block; padding:0 24px 0 50px; background:url(../images/bg/bg_join.gif) no-repeat 20px 5px; border:1px solid #ccc; font-size:12px; line-height:26px;}
.login_con01 .login_search { float:right;  padding:0px 50px; width:410px;}
.login_con01 .login_search div { padding:20px 0 30px 123px; height:90px;}
.login_con01 .login_search div h4 { color:#000;  font-size:17px;}
.login_con01 .login_search div p { padding:15px 0 20px 0; font-size:13px; line-height:24px;}
.login_con01 .login_search div a { display:inline-block; padding:0 15px; background:#393939; color:#FFF; line-height:30px; font-weight:bold;} 
.login_con01 .login_search .id_search { padding:11px 0 40px 123px; background:url(../images/bg/bg_search_id.gif) no-repeat 29px 14px; border-bottom:1px dashed #ccc;}
.login_con01 .login_search .pw_search { padding:41px 0 30px 123px; background:url(../images/bg/bg_search_pw.gif) no-repeat 29px 44px;}

/* disadoption*/
.pwform { margin-top:80px; border:1px solid #ccc; margin-left:200px; padding:93px 0 176px 123px; border-collapse:collapse; border-spacing:0; width:75%; background: url(../image/disadoptionimg/bg_search_pw.gif) no-repeat 132px 177px; background-size: 68px;}
.pwform p { padding:15px 0 20px 0; font-size:25px; line-height:25px; color:#000;}
.pwform input[type="password"] {margin-left:100px; margin-top:61px; padding-left:50px;}
.pwform #pwbtn{ position:absolute; margin:49px 0px 0px 12px; padding:8px 23px; background:#393939; color:#FFF; line-height:30px; font-weight:bold; font-size:18px;  }    

/* recommend */

.intable {
	margin-left: auto !important;
	margin-right: auto !important;
	width: 50% !important;
	}
	label input[type="radio"]:checked + .label{
		background-color:#F7AA58;
		outline:none;
		color:white;
		font-weight:bold;
	}
	
	label input[type=radio]{
		display: none;		
	}
	
	label .label{
	background-color: #e8e8e8;
	margin:4px;
	height:30px;
	width: 30%;
	line-height:33px;
	border-radius:4px;
	transition:background-color 0.3s ease-in-out;
	font-size:12px;
	cursor: pointer;
	text-align: center;
	display: inline-block;
}
